<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create New Poll</title>
    <style>
        .errorlist{
            color: #FF0000;
        }
    </style>
</head>
<body>
<h1>Create new poll</h1>
    {% if success %}
        <p>{{ success }}</p>
    {% endif %}
    <form method="post" action="{% url 'poll_create' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <hr />
        <h2>Add question</h2>
        <table>
            {{ formset }}
        </table>
        <p><input type="submit" value="Create"></p>
    </form>
</body>
</html>